div, td {
    text-align: center;
}

span {
    display: block;
}

a {
    color: unset;
}

a[href^="http"] {
    /* --accent is set by simplecss */
    color: var(--accent);
}

input[type="text"] {
    width: 5rem;
    height: 2rem;
}

.providers {
    vertical-align: middle;
    margin: 6px;
}

#wallSect {
    display: none;
}
